@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


/*소금이미지 클릭시 세부내용*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,1);
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

section>.ladder>.modal>.modal-content>.mySlides{
	overflow: hidden;
	width: 100%;
	height: 400px;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
}

section>.ladder>.modal>.modal-content>.mySlides>.img{
	float: left;
	width: 50%;
	height: 400px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section>.ladder>.modal>.modal-content>.himalaya>.img{
	background-image: url(../images/foodstorage/kind_1.png);
}
section>.ladder>.modal>.modal-content>.maldon>.img{
	background-image: url(../images/foodstorage/kind_2.jpg);
}
section>.ladder>.modal>.modal-content>.fleur>.img{
	background-image: url(../images/foodstorage/kind_3.jpg);
}


section>.ladder>.modal>.modal-content>.mySlides>.text_all{
	float: right;
	width: 48%;
	height: 100px;
	margin-top: 50px;
	padding: 1%;
	text-align: center;
}
section>.ladder>.modal>.modal-content>.mySlides>.text_all>h3{
	margin-bottom: 5%;
}
section>.ladder>.modal>.modal-content>.mySlides>.text_all>h3>span{
	display: block;
	font-size: 2em;
}

section>.ladder>.modal>.modal-content>.mySlides>.text_all>ul{
		width: 80%;
		margin: 0 auto;
		line-height:30px;
		text-align: justify;
		text-justify: inter-word;
}
section>.ladder>.modal>.modal-content>.mySlides>.text_all>ol>li{
	margin-bottom: 3%;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

















/*미디어쿼리   796px*/
@media all and (max-width: 796px){

.modal-content {
  width: 100%;
}

section>.ladder>.modal>.modal-content>.mySlides{
    
    height: 100%;
    
    /*	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
*/
    
}
    
section>.ladder>.modal>.modal-content>.mySlides>.img{
	float: none;
	width: 100%;
	height: 200px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
} 

    
section>.ladder>.modal>.modal-content>.mySlides>.text_all{
	float: none;
	width: 100%;
	height: 300px;
	margin-top: 30px;
	padding: 1%;
	text-align: center;
}
    
    
    

}