@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

ul,
ol,
li {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #000;
    text-decoration: none;
}

body {
    color: #000;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.95em;
}

/*중복부분*/

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
}

.line {
    width: 90px;
    height: 5px;
    text-indent: -9999px;
    margin-bottom: 3%;
    background-color: rgba(0, 0, 0, 1);
}

#wrap {
    width: 100%;
}

header {
    width: 60%;
    height: 200px;
    margin: 0 auto;
}

header > h1 {
    margin-top: 50px;
    display: inline-block;
    font-size: 1.5em;
    line-height: 55px;
}

header > h1 > span {
    display: block;
    font-size: 1.8em;
}


/*공통*/

/*section*/

section {
    width: 60%;
    margin: 0 auto;
}


section > article {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 10%;
}


section > article > .img {
    width: 100%;
    height: 350px;
    text-indent: -9999px;
}


section > article .text {
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;

}

section > article .text > span {
    display: block;
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}

/*editor*/

section > article > .editor {
    position: relative;
    width: 100%;
    height: 100px;
}

section > article > .editor > p {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 50px;
    text-align: right;
    line-height: 80px;
    font-weight: 600;
    font-size: 0.8em;
}


/*shop_info*/

section > article > .shop_info {
    height: 410px;

}

section > article > .shop_info > .info_01 {
    width: 30%;
    float: left;

}

section > article > .shop_info > .info_01 > ul {
    width: 500px;
    height: 50px;
}

section > article > .shop_info > .info_01 > ul > li {
    float: left;
    width: 50%;
    height: 50%;
}

section > article > .shop_info > .info_01 > ul > li:first-child {
    width: 50px;
    height: 50px;
    margin-right: 3%;
    background-color: #000;
    border-radius: 50%;

}

section > article > .shop_info > .info_01 > ul > li:first-child > .logo {
    margin-top: 25%;
    color: #fff;
    font-size: 0.5em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

section > article > .shop_info > .info_01 > ul > li:last-child {
    margin-top: 1.5%;
    font-size: 0.8em;
}

section > article > .shop_info > .info_01 > ul > li:last-child > p > span {
    display: block;
    font-size: 0.5em;
    font-weight: 600;
}

section > article > .shop_info > .info_01 > .instagram_img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    text-indent: -9999px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

section > article > .shop_info > .info_01 > .instagram > span {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
}



section > article > .shop_info > .info_01 > .instagram {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 0.8em;
    line-height: 25px;
}


section > article > .shop_info > .info_2 {
    float: right;
    width: 70%;
    height: 410px;

}



section > .store > .shop_info > .info_01 > .instagram_img {
    background-image: url(../images/instagram_img2.jpg);
}

section > .store > .shop_info > .info_2 > .img {
    width: 100%;
    height: 350px;
    text-indent: -9999px;
    background-image: url(../images/detail_02.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}


/*shop_detail*/

section > article > .shop_detail {
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

section > article > .shop_detail > h2 {
    margin-bottom: 3%;
}

section > article > .shop_detail > .part_01 {
    width: 100%;
    height: 100%;
}

section > article > .shop_detail > .part_01 > p > span {
    display: block;
    margin: 3% 0;
    font-weight: 600;
}

section > article > .shop_detail .address {
    width: 98%;
    height: 200px;
}




/*매장 주소*/

section > article > .shop_detail .address > ul {
    float: right;
    width: 100%;
    height: 200px;
    font-size: 0.8em;
}

section > article > .shop_detail .address > ul > li {
    height: 25px;
    line-height: 25px;
    text-align: right;
}

section > article > .shop_detail .address > ul > li > span {
    display: block;
    font-weight: 800;
    margin-top: 3%;
}

section > article > .shop_detail .address > ul > li:nth-child(5) > span {
    margin-top: 0;
}

/*editor*/

section > article > .editor {
    position: relative;
    width: 100%;
    height: 100px;
}

section > article > .editor > p {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 50px;
    text-align: right;
    line-height: 80px;
    font-weight: 600;
    font-size: 0.8em;
}








/*store*/

section > .store {
    width: 100%;
    height: 100%;
}




/*shop_detail>part_03*/

section > .store > .shop_detail > .part_03 {
    width: 100%;
    height: 100%;
}

section > .store > .shop_detail > .part_03 > ul {
    width: 100%;
    height: 100%;
}

section > .store > .shop_detail > .part_03 > ul > li {
    float: left;
    width: 48%;
    height: 18%;
    padding: 1%;
}

section > .store > .shop_detail > .part_03 > ul > li:last-child {
    width: 98%;
}

section > .store > .shop_detail > .part_03 > ul > li > div {
    width: 100%;
    height: 100%;
}

/*box*/

section > .store > .shop_detail > .part_03 > ul > li .text {
    margin-top: 3%;
    font-size: 0.8em;
    line-height: 25px;
}

section > .store > .shop_detail > .part_03 > ul > li .text > strong {
    font-size: 1.1em;
}

section > .store > .shop_detail > .part_03 .img {
    width: 100%;
    height: 300px;
    text-indent: -9999px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

section > .store > .shop_detail > .part_03 > ul > li > div {
    width: 100%;
    height: 100%;
}

section > .store > .shop_detail > .part_03 > ul > li > .box1 > .img {
    background-image: url(../images/box1.jpg);
    margin-top: 4%;
}

section > .store > .shop_detail > .part_03 > ul > li > .box2 > .img {
    background-image: url(../images/box2.jpg);
}

section > .store > .shop_detail > .part_03 > ul > li > .box3 > .img {

    background-image: url(../images/box3.jpg);
}

section > .store > .shop_detail > .part_03 > ul > li > .box4 > .img {
    background-image: url(../images/box4.jpg);
}

section > .store > .shop_detail > .part_03 > ul > li > .box5 > .img {
    background-image: url(../images/box5.jpg);
}

section > .store > .shop_detail > .part_03 > ul > li > .box6 > .img1 {
    float: left;
    width: 30%;
    background-image: url(../images/box6_1.jpg);
}

section > .store > .shop_detail > .part_03 > ul > li > .box6 > .img2 {
    float: right;
    width: 30%;
    background-image: url(../images/box6_2.jpg);
}


section > .store > .shop_detail > .part_03 > ul > li > .box5 > .text {
    margin-bottom: 3%;
}

section > .store > .shop_detail > .part_03 > ul > li > .box6 > .text {
    float: left;
    width: 38%;
    padding: 0 1%;
}

section > .store > .shop_detail > .part_04 {}

section > .store > .shop_detail > .part_05 {
    width: 100%;
    height: 20px;
}

section > .store > .shop_detail > .part_05 > p {
    width: 98%;
    height: 20px;
    font-size: 0.6em;
    text-align: right;
}




/*미디어쿼리   1204px*/

@media screen and (max-width: 1204px) {

    section {
        width: 80%;
    }

}




/*미디어쿼리   796px*/

@media screen and (max-width: 796px) {
    
    header{
        width: 100%;
        margin: 0;
    }

    header > h1 {
        width: 100%;
        margin-top: 0;
        text-align: center;
        letter-spacing: 10px;
    }


    section {
        width: 100%;
    }



    section > article > .shop_info {
        position: relative;
        height: 100%;
    }

    section > article > .shop_info > .info_01 {

        float: none;
        width: 100%;
        height: 600px;
        margin-top: 0;
    }


    section > article > .shop_info > .info_01 > ul {
        width: 100%;
        height: 90px;
    }

    section > article > .shop_info > .info_01 > ul > li {
        float: left;
        height: 50%;
    }

    section > article > .shop_info > .info_01 > ul > li:first-child {
        width: 80px;
        height: 80px;
        margin-right: 3%;
        font-size: 2em;
        text-align: center;
        background-color: #000;
        border-radius: 50%;

    }
    section > article > .shop_info > .info_01 > ul > li:first-child > .logo {
        margin-top: 25%;
        color: #fff;
        font-size: 0.5em;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }

    section > article > .shop_info > .info_01 > ul > li:last-child {
        width: 75%;
        margin-top: 1.5%;
        font-size: 1.5em;
    }

    section > article > .shop_info > .info_01 > ul > li:last-child > p > span {
        display: block;
        font-size: 1em;
        font-weight: 600;
    }



    section > article > .shop_info > .info_01 > .instagram_img {
        width: 100%;
        height: 280px;
        margin-top: 0;

    }



    section > article > .shop_info > .info_01 > .instagram {
        width: 100%;
        height: 30px;
        font-size: 1em;
        line-height: 25px;
    }

    section > article > .shop_info > .info_01 > .instagram > span {
        display: block;
        font-size: 1.3em;
        font-weight: 600;
    }





    section > article > .shop_info > .info_2 {
        float: none;
        width: 100%;
    }

    section > .store > .shop_info > .info_2>.img{
      
    }

    
    section > .store > .shop_detail {
        font-size: 1.1em;
    }
    
    section > .store > .shop_detail > .part_01>.text{
        width: 98%;
        margin: 0 auto;
    }

    section > .store > .shop_detail > .part_03 > ul > li {
        float: left;
        width: 98%;
        height: 18%;
        margin-bottom: 5%;
        padding: 1%;
    }
    section > .store > .shop_detail > .part_03 > ul > li:last-child {
        width: 98%;
    }
    section > .store > .shop_detail > .part_03 > ul > li > div {
        width: 100%;
        height: 100%;
    }


    section > .store > .shop_detail > .part_03 > ul > li > .box1{
        margin-top: 5%;
    }
    section > .store > .shop_detail > .part_03 > ul > li > .box1 > .img {
        background-image: url(../images/box1.jpg);
        margin-top: 4%;
    }
    section > .store > .shop_detail > .part_03 > ul > li > .box2 > .img {
        background-image: url(../images/box2.jpg);
    }

    section > .store > .shop_detail > .part_03 > ul > li > .box3 > .img {

        background-image: url(../images/box3.jpg);
    }

    section > .store > .shop_detail > .part_03 > ul > li > .box4 > .img {
        background-image: url(../images/box4.jpg);
    }
    section > .store > .shop_detail > .part_03 > ul > li > .box5 > .img {
        background-image: url(../images/box5.jpg);
    }
    section > .store > .shop_detail > .part_03 > ul > li > .box6 > .img1 {
        float: left;
        width: 100%;
        height: 400px;
        margin-top: 5%;
        background-image: url(../images/box6_1.jpg);
    }
    section > .store > .shop_detail > .part_03 > ul > li > .box6 > .img2 {
        float: right;
        width: 100%;
        background-image: url(../images/box6_2.jpg);
    }


    section > .store > .shop_detail > .part_03 > ul > li > .box5 > .text {
        margin-bottom: 3%;
    }
    section > .store > .shop_detail > .part_03 > ul > li > .box6 > .text {
        float: left;
        width: 98%;
        padding: 0 1%;
    }


    section > .store > .shop_detail > .part_05 > p {
        width: 98%;
        height: 20px;
        font-size: 0.6em;
        text-align: right;
    }

    section > .store > .editor {
        width: 98%;
    }

}

/*end 796px*/

/* / */