@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

*{margin:0; padding:0;
	/* box-sizing: border-box; */
}
ul,ol,li{list-style:none;}
a:link,a:visited,a:hover,a:active{
	color:#000;
	text-decoration:none;
}
body{
	color:#000;
	font-size: 0.95em;
}

/*중복부분*/
.clearfix{*zoom:1;}
.clearfix:after{
	display:block; clear:both; content:"";
}


#wrap{
	width:100%;
}




/*공통*/
/*section*/
section{
	width:60%;
	margin:0 auto;
}

section>article{
  position:relative;
	width:100%;
	height:100%;
	margin-top:10%;
}

section>article .text{
	line-height:30px;
    text-align: justify;
    text-justify: inter-word;

}

section>article .text>span{
	display:block;
	margin-bottom:3%;
	text-align:center;
	font-size:1.1em;
	font-weight:600;
}




section>.ladder{
	width: 100%;
	height: 100%;
}


section>.ladder>.intro{
    width: 80%;
    height: 700px;
    margin: 0 auto;
}

section>.ladder>.intro>.intro_img{
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 6%;
    text-indent: -9999px;
    background-image: url(../images/foodstorege/main.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

section>.ladder>.intro>.title{
    float: right;
    width: 40%;
    height: 100%;
    margin-right: 6%;
}

section>.ladder>.intro>.title>.line {
    width: 90px;
    height: 5px;
    margin: 0 auto;
    text-indent: -9999px;
    background-color: rgba(0, 0, 0, 1);
}

section>.ladder>.intro>.title>h1{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    font-family: 'Nanum Gothic', sans-serif;
}


section>.ladder>.intro>.title>.subtitle{
    width: 100%;
    height: 200px;
    margin: 25% 0;
}
section>.ladder>.intro>.title>.subtitle>h2{
    text-align: center;
}
section>.ladder>.intro>.title>.subtitle>h2>span{
    display: block;
    font-size: 3em;
}

section>.ladder>.intro>.title>.text{
    width: 80%;
    padding: 0 10%;
    margin-top: 45%;
    font-size: 1em;
}



section>.ladder>.start{
    width: 100%;
    height: 100px;
    margin: 8% 0 5%;
}
section>.ladder>.start>p{
    text-align: center;
}
section>.ladder>.start>p>span{
    font-size: 2em;
    text-decoration: underline;
}





section>.ladder>.ladder_img{
	    width: 100%;
        height: 900px;
	    text-indent: -9999px;
        background-image: url(../images/foodstorege/ladder.jpg);
/*	    background-image: url(../images/foodstorege_ladder.png);*/
	    background-position: center 0;
	    -webkit-background-size: contain;
	    background-size: contain;
	    background-repeat: no-repeat;

	}
section>.ladder>.salt_img{
    width: 100%;
    height: 200px;
    margin-top: -20px;
    text-indent: -9999px;

}
section>.ladder>.salt_img>ul{
    width: 100%;
    height: 100%;
}
section>.ladder>.salt_img>ul>li{
    overflow: hidden;
    float: left;
    width: 20%;
    height: 200px;
    margin-right: 18%;
/*    margin: 0 4.5%;
    ;*/
    
    border-radius: 20px;
    box-sizing: border-box

}

section>.ladder>.salt_img>ul>li:hover .img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

section>.ladder>.salt_img>ul>li:last-child{
    margin-right: 0;
}
section>.ladder>.salt_img>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
/*
    border-radius: 50%;
    box-sizing: border-box;
*/
}
section>.ladder>.salt_img>ul>li>a>.img{
    width: 100%;
    height: 100%;
    background-position: center 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
/*
    border-radius: 50%;
    box-sizing: border-box;
*/

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;

}
section>.ladder>.salt_img>ul>li>a>.himalaya{
    background-image: url(../images/foodstorege/kind_1.jpg);
}
section>.ladder>.salt_img>ul>li>a>.maldon{
    background-image: url(../images/foodstorege/kind_2.jpg);
}
section>.ladder>.salt_img>ul>li>a>.fleur{
    background-image: url(../images/foodstorege/kind_3.jpg);
}

















/*미디어쿼리   1204px*/
@media screen and (max-width: 1204px){

section>.ladder>.modal>.modal-content{
	width: 90%;
}


}



/*미디어쿼리   1204px*/
@media all and (max-width: 1204px){
	section{
		width: 90%;
	}



}


@media all and (min-width: 797px and max-width: 1203px){


		section>.ladder>.salt_img>ul>li{

		    width: 50%;
		    height: 50%;
				margin-left: 0;

		}



	}






/*미디어쿼리   796px*/
@media all and (max-width: 796px){

section{
	width: 100%;
}
    
  
    
    
section>.ladder>.intro{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

section>.ladder>.intro>.intro_img{
    float: none;
    width: 100%;
    height: 300px;
    margin-left: 0;
}

section>.ladder>.intro>.title{
    float: none;
    width: 100%;
    height: 550px;
}

section>.ladder>.intro>.title>.line {
    margin: 5% auto 0;
}


section>.ladder>.intro>.title>.subtitle{
    
    margin: 10% 0;
}
section>.ladder>.intro>.title>.subtitle>h2{
    text-align: center;
}


section>.ladder>.intro>.title>.text{
    
    margin-top: 10%;
}    
    
    
    

section>.ladder>.ladder_img{
    width: 410px;
    height: 400px;
}

section>.ladder>.salt_img{
    height: 100px;
    margin-top: -40px;
}

section>.ladder>.salt_img>ul{
    width: 100%;
}

section>.ladder>.salt_img>ul>li{
		width: 30%;
		height: 100%;
        margin-right: 5%;
}
    


section>.ladder>.modal>.modal-content>.mySlides{
	overflow: auto;
	height: 500px;

}

section>.ladder>.modal>.modal-content>.mySlides>.img{
	float: left;
	width: 50%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



}











/* / */
