@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

*{margin:0; padding:0;
	/* box-sizing: border-box; */
}
ul,ol,li{list-style:none;}
a:link,a:visited,a:hover,a:active{
	color:#000;
	text-decoration:none;
}
body{
	color:#000;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 0.95em;
}

/*중복부분*/
.clearfix{*zoom:1;}
.clearfix:after{
	display:block; clear:both; content:"";
}


#wrap{
	width:100%;
}



/*공통*/
/*section*/
section{
    position: relative;
	width:60%;
    height: 100%;
	margin:0 auto;
/*	padding-top:100px;*/
}

section>article{
	width:100%;
	height:100%;
}

section>article>h1{
    text-indent: -9999px;
}

section>article .text{
	line-height:30px;
    text-align: justify;
    text-justify: inter-word;
}

section>article .text>span{
	display:block;
	margin-bottom:3%;
	text-align:center;
	font-size:1.1em;
	font-weight:600;
}


/*editor*/
section > article > .editor {
    width: 100%;
    height: 100px;
}

section > article > .editor > ul {

    width: 100%;
    height: 45px;
    padding-right: 1%;
    text-align: right;
    line-height: 20px;
    font-weight: 600;
    font-size: 0.8em;
    border-right: 5px solid #000;
}



/*foodstorage*/
section>.foodstorage{
	width: 100%;
	height: 100%;
}




/*total*/
section>.foodstorage>.total{
    width: 100%;
    height: 100%;
}

section>.foodstorage>.total>.img{
    position: relative;
	margin: 3% 0;
    width: 100%;
    height: 350px;
    background-color: #fff;
    
}
section>.foodstorage>.total>.img:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
	background-image: url(../images/foodstorage/top.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;
    opacity: 0.8;
}


section>.foodstorage>.total>.img>p{
	position: absolute;
	/*top: 50%;
	left: 50%;*/
    bottom: 0;
    width: 94%;
    padding: 3%;
	color: #000;
    text-align: center;
	background-color: #fff;
/*	transform: translate(-50%,-50%);*/
    z-index: 2;

}
section>.foodstorage>.total>.img>p>span{
	display: block;
    width: 100%;
/*	color: #58781d;*/
    color: #444;
	font-size: 2em;
/*	font-family: 'Lobster', cursive;*/
    letter-spacing: 20px;
    
}






    /*total - .text*/
section>.foodstorage>.total>.text{
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

section>.foodstorage>.total>.text .line{
	width:90px;
	height:5px;
    margin: 0 auto;
	text-indent:-9999px;
	margin-bottom:3%;
	background-color:rgba(0,0,0,1);
}

section>.foodstorage>.total>.text>h2{
    width: 100%;
    height: 80px;
    text-align: center;
    letter-spacing: 20px
}

section>.foodstorage>.total>.text>p{
/*    top: 150px;*/
    width: 94%;
    height: 10%;
    padding: 3% 3%;
/*    margin-bottom: 3%;*/
    
        
}


section>.foodstorage>.total>.text>.title{
    width: 90%;
/*    height: 350px;*/
    height: 10%;
    padding: 5%;
    background-image: url(../images/foodstorage/title.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center ;
   
}





section>.foodstorage>.total>.text>.title>p{
	width: 100%;
	height: 50px;
    margin: 5% 0;
    padding: 2% 0;
    line-height: 50PX;
	text-align: center;
	font-size: 0.8em;
    background-color: #fff;
}


section>.foodstorage>.total>.text>.title>p>span{
	display: block;
	font-size: 2em;
	font-weight: 600;
}







/*storage_text*/
section>.foodstorage>.total>.text>.storage_text{
	width: 80%;
	height: 80%;
    padding: 10%;
}

section>.foodstorage>.total>.text>.storage_text h3{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 1.2em;
}

section>.foodstorage>.total>.text>.storage_text ul{
	width: 100%;
	height: 100%;
}

section>.foodstorage>.total>.text>.storage_text ul>li{
    height: 100%;
}


section>.foodstorage>.total>.text>.storage_text ul>li:nth-child(1){
    width: 45%;
    float: left;
    
}

section>.foodstorage>.total>.text>.storage_text ul>li:nth-child(2){
    width: 45%;
    float: right;
}
section>.foodstorage>.total>.text>.storage_text ul>li:nth-child(3){
    float: left;
    width: 100%;
}



section>.foodstorage>.total>.text>.storage_text ul>li>span{
	display: block;
	margin-top: 3%;
	font-weight: 600;
}



    /*효과*/

section>.foodstorage>.total>.text>.storage_text>.effect{
    width: 100%;
}

section>.foodstorage>.total>.text>.storage_text>.effect>.line{
    margin-top: 10%;
}


section>.foodstorage>.total>.text>.storage_text>.effect>ul>li{
	height: 100%;
}





    /*레시피*/
section>.foodstorage>.total>.text>.storage_text>.recipe{
    width: 100%;
    height: 100%;
}

section>.foodstorage>.total>.text>.storage_text>.recipe>.line{
    margin-top: 10%;
}

section>.foodstorage>.total>.text>.storage_text>.recipe>ol{
    width: 100%;
    height: 200px;
}
section>.foodstorage>.total>.text>.storage_text>.recipe>ol>li{
    float: left;
    height: 200px;
}

section>.foodstorage>.total>.text>.storage_text>.recipe>ol>li:nth-child(odd){
    width: 20%;
   
}
section>.foodstorage>.total>.text>.storage_text>.recipe>ol>li:nth-child(even){
   width: 6%;
    color: #69491a;
    text-align: center;
   line-height: 150px;
   font-size: 2em;
    
}

section>.foodstorage>.total>.text>.storage_text>.recipe>ol>li>p>span{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10%;
    background-color: #ffd954
}









/*미디어쿼리   1204px*/
@media screen and (max-width: 1204px){
        
    section{
        width: 90%;
    }
}



/*미디어쿼리   796px*/
@media screen and (max-width: 796px){

section{
    width: 90%;
}



section>.foodstorage>.total>.img>p{
    width: 100%;
}
 
    
    
section>.foodstorage>.total>.text>.title>p{
    height: 100px;

}
      
    
    
/*storage_text*/
    

section>.foodstorage>.total>.text>.storage_text ul{
	width: 100%;
	height: 100%;
}

section>.foodstorage>.total>.text>.storage_text ul>li{
    height: 460px;
}


section>.foodstorage>.total>.text>.storage_text ul>li:nth-child(1){
    float: none;
    width: 100%;
    
}

section>.foodstorage>.total>.text>.storage_text ul>li:nth-child(2){
    float: none;
    width: 100%;
    height: 250px;
}
section>.foodstorage>.total>.text>.storage_text ul>li:nth-child(3){
    float: none;
    width: 100%;
}    
    



    /*효과*/

section>.foodstorage>.total>.text>.storage_text>.effect{
    width: 100%;
}



section>.foodstorage>.total>.text>.storage_text>.effect>ul>li{
	height: 400px;
    margin-bottom: 15%;
}

section>.foodstorage>.total>.text>.storage_text>.effect>ul>li:nth-child(2){
    height: 160px;  
}
section>.foodstorage>.total>.text>.storage_text>.effect>ul>li:nth-child(3){
    height: 300px;     
}
  
    
 

    
    
    


}





















/* / */
