@charset "utf-8";

.row >ul>.column {
  /* padding: 1% 1%; */
}
.row{
   width:100%;
   height:100%;

}


.row>ul{
   width:100%;
   height:100%;
}

.column {
  position: relative;
  float: left;
  overflow:hidden;
  width: 49%;
  height: 100%;
  margin-right: 1%;
}
.column:last-child{
  margin-right: 0;
}


.row>ul>.column>img{
  position: absolute;
  top: 50%;
  left: 50%;
   width:100%;
   transform: translate(-50%,-50%);
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  z-index: 6000;
}

/* Modal Content */
.modal-content {
  position: relative;
  overflow: hidden;
  margin: 5% auto;
  width: 60%;
  height:100%;
}


.modal-content>.mySlides{
    margin-top: 10%;
    background-color: #000;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #666;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}













/*미디어쿼리   1704px*/
@media screen and (max-width: 1204px){


    /* Modal Content */
.modal-content {
    
  width: 100%;
}


} /*end 1204px*/



/*미디어쿼리   796px*/

@media screen and (max-width: 796px) {

    
    /* Modal Content */
.modal-content {
  width: 100%;
  height: auto; 
  margin: 20% auto;
    
} 
    
    
.prev,
.next {
  
/*  margin-top: -55%;*/
    
/*    margin-top: -25%;*/

    display: none;
    
}
    
    
    
    
}









/*/*/